.custom-node {
  cursor: pointer;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 5px;
}
.custom-node:hover {
  background-color: #e6f7ff;
}
.custom-node.active {
  background-color: #bae7ff;
}
.new-node {
  color: green;
}
.removed-node {
  color: red;
}
