<div nz-row nzGutter="16">
  <div nz-col nzSpan="6">
    <nz-tree
      [nzData]="collectionNodes"
      nzShowLine
      [nzExpandedIcon]="expandedIconTpl"
      (nzClick)="onCollectionNodeClick($event)"
    >
      <ng-template #expandedIconTpl let-node>
        <i *ngIf="!node.origin.isLeaf" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="ant-tree-switcher-line-icon"></i>
        <i *ngIf="node.origin.isLeaf" nz-icon nzType="file" class="ant-tree-switcher-line-icon"></i>
      </ng-template>
    </nz-tree>
  </div>
  <div nz-col nzSpan="18">
    <td-ngx-text-diff
      *ngIf="diff"
      [left]="diff.leftContent"
      [right]="diff.rightContent"
      [diffContent]="contentObservable$"
      synchronizeScrolling="true"
      format="LineByLine"
    ></td-ngx-text-diff>
  </div>
</div>
