<nz-spin nzTip="{{ 'Loading' | translate }}..." [nzSpinning]="isLoading" [ngStyle]="{ 'min-height': '150px' }">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="6" [ngStyle]="{ 'max-height': '300px', overflow: 'auto' }">
      <nz-tree
        [nzData]="collectionNodes"
        nzShowLine
        [nzExpandedIcon]="expandedIconTpl"
        [nzTreeTemplate]="treeTpl"
        (nzClick)="onCollectionNodeClick($event)"
      >
        <ng-template #expandedIconTpl let-node>
          <i *ngIf="!node.origin.isLeaf" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="ant-tree-switcher-line-icon"></i>
          <i *ngIf="node.origin.isLeaf" nz-icon nzType="file" class="ant-tree-switcher-line-icon"></i>
        </ng-template>
        <ng-template #treeTpl let-node>
          <span class="custom-node" [class.active]="node.isSelected">
            <span *ngIf="!node.isLeaf">{{ node.title }}</span>
            <span *ngIf="node.isLeaf" [ngClass]="{ 'new-node': isNewNode(node), 'removed-node': isRemovedNode(node) }">{{ node.title }}</span>
          </span>
        </ng-template>
      </nz-tree>
    </div>
    <div
      *ngIf="diffContent"
      nz-col nzSpan="18"
      [ngStyle]="{ 'max-height': '300px', overflow: 'auto' }"
    >
      <div nz-row [ngStyle]="{ 'margin-bottom': '15px' }">
        <div nz-col nzSpan="8">
          <nz-radio-group [(ngModel)]="diffStyle" nzSize="small">
            <label nz-radio-button nzValue="word"><span translate>WordDiff</span></label>
            <label nz-radio-button nzValue="char"><span translate>CharDiff</span></label>
          </nz-radio-group>
        </div>
        <div nz-col nzSpan="8" nzOffset="8">
          <nz-radio-group [(ngModel)]="outputFormat" nzSize="small" [ngStyle]="{ 'float': 'right' }">
            <label nz-radio-button nzValue="side-by-side"><span translate>SideBySide</span></label>
            <label nz-radio-button nzValue="line-by-line"><span translate>LineByLine</span></label>
          </nz-radio-group>
        </div> 
      </div>
      <ngx-diff2html
        [left]="diffContent?.left"
        [right]="diffContent?.right"
        [filename]="diffContent?.filename"
        [format]="outputFormat"
        [style]="diffStyle"
        (diffChange)="diff = $event"
      ></ngx-diff2html>
    </div>
  </div>
  <nz-empty
    *ngIf="!isLoading && !diff"
    nzNotFoundContent="{{ 'NoUnsavedChanges' | translate }}"
  ></nz-empty>
</nz-spin>
