
<nz-spin nzTip="{{ 'AutoBackupInProgress' | translate:database.config.projectId }}..." [nzSpinning]="isInProgress">
  <nz-result
    *ngIf="!isInProgress"
    [nzStatus]="status"
    nzTitle="{{ 'AutoBackupDone' | translate:database.config.projectId }}"
    [nzSubTitle]="now() | date:'MMMM d, y, HH:mm:ss':'':lang"
  >
    <div nz-result-extra>
      <button nz-button nzType="primary" (click)="navigateTo('/manager')">{{ 'GoBackToMainPage' | translate }}</button>
      <button nz-button (click)="close()">{{ 'Close' | translate }}</button>
    </div>
  </nz-result>
</nz-spin>
