h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}
p {
  margin: 0;
}
.spacer {
  flex: 1;
}
.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}
.toolbar img {
  margin: 0 16px;
}
.toolbar-icon {
  font-size: 23px;
  margin-right: 24px;
  cursor: pointer;
  opacity: 0.8;
}
.toolbar-icon i {
  color: #fff;
}
.toolbar-icon:hover {
  opacity: 1;
}
.lang-menu li {
  position: relative;
  padding: 5px 32px;
}
.lang-menu li i {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 12px;
  transform: translateY(-50%);
  transition: all .2s;
}
.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  min-width: 600px;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
}
nz-list ::ng-deep div.ant-list-items {
  max-height: 200px;
  overflow-y: auto;
}
svg.material-icons {
  height: 24px;
  width: auto;
}
svg.material-icons:not(:last-child) {
  margin-right: 8px;
}
a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}
a:hover {
  color: #125699;
}
footer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
footer a {
  display: flex;
  align-items: center;
}
.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}
.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}
svg#clouds {
  position: fixed;
  bottom: -260px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
.radio {
  width: 100%;
  line-height: 30px;
}
.radio ::ng-deep span.ant-radio + * {
  padding-right: 0 !important;
}
.mr-5 {
  margin-right: 5px;
}
