<div nz-row class="option">
  <div nz-col nzSpan="10" class="label with-margin">
    <label translate>DefaultEditorMode</label>
  </div>
  <div nz-col nzSpan="14">
    <nz-radio-group nzButtonStyle="solid" [(ngModel)]="options.editorMode" (ngModelChange)="saveOptions()">
      <label nz-radio-button nzValue="tree"><span translate>Tree</span></label>
      <label nz-radio-button nzValue="form"><span translate>Form</span></label>
      <label nz-radio-button nzValue="code"><span translate>Code</span></label>
    </nz-radio-group>
  </div>
</div>
<div nz-row class="option">
  <div nz-col nzSpan="10" class="label with-margin">
    <label translate>DefaultDiffStyle</label>
  </div>
  <div nz-col nzSpan="14">
    <nz-radio-group nzButtonStyle="solid" [(ngModel)]="options.diffStyle" (ngModelChange)="saveOptions()">
      <label nz-radio-button nzValue="word"><span translate>WordDiff</span></label>
      <label nz-radio-button nzValue="char"><span translate>CharDiff</span></label>
    </nz-radio-group>
  </div>
</div>
<div nz-row class="option">
  <div nz-col nzSpan="10" class="label with-margin">
    <label translate>DefaultDiffOutputFormat</label>
  </div>
  <div nz-col nzSpan="14">
    <nz-radio-group nzButtonStyle="solid" [(ngModel)]="options.diffOutputFormat" (ngModelChange)="saveOptions()">
      <label nz-radio-button nzValue="side-by-side"><span translate>SideBySide</span></label>
      <label nz-radio-button nzValue="line-by-line"><span translate>LineByLine</span></label>
    </nz-radio-group>
  </div>
</div>
<div nz-row class="option">
  <div nz-col nzSpan="10" class="label">
    <label translate>DisplayCollectionsCount</label>
  </div>
  <div nz-col nzSpan="14">
    <nz-switch
      [(ngModel)]="options.displayCollectionsCount"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
      (ngModelChange)="saveOptions()"
    ></nz-switch>
  </div>
</div>
<div nz-row class="option" *ngIf="app.isWebExtension">
  <div nz-col nzSpan="10" class="label">
    <label translate>EnableNotifications</label>
  </div>
  <div nz-col nzSpan="14">
    <nz-switch
      [(ngModel)]="options.enableNotifications"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
      (ngModelChange)="saveOptions()"
    ></nz-switch>
  </div>
</div>

<ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
<ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
