.spacer {
  flex: 1;
}
.toolbar-icon {
  color: #fff;
  font-size: 18px;
  margin-right: 24px;
  cursor: pointer;
  opacity: 0.8;
}
.toolbar-icon:hover {
  opacity: 1;
}
.left-layout {
  height: 100vh;
}
.left-layout > nz-header {
  height: 60px;
  display: flex;
  align-items: center;
  background: #1976d2;
  padding: 0;
  color: white;
  font-weight: 600;
  line-height: 60px;
}
nz-sider {
  overflow: auto;
  height: 100%;
  position: relative;
  left: 0;
  padding: 20px;
  background: #fff;
  border-right: 1px solid #d3d3d3;
}
.right-layout nz-content {
  /* margin: 24px 16px 0; */
  overflow: initial;
}
.inner-content {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.inner-content > div {
  display: table-row;
}
.inner-content > div.full-height {
  height: 100%;
}
.drawer-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: #fff;
}
textarea.tab-size {
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size:  4;
  -webkit-tab-size: 4;
}
.custom-node {
  cursor: pointer;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 5px;
}
.custom-node:hover:not(.rename-mode) {
  background-color: #e6f7ff;
}
.custom-node.active:not(.rename-mode) {
  background-color: #bae7ff;
}
:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 100%;
  background: #fff;
  border-color: #d3d3d3;
}
:host ::ng-deep json-editor .jsoneditor-menu,
:host ::ng-deep json-editor .jsoneditor-menu > .jsoneditor-modes > button:disabled,
:host ::ng-deep json-editor .jsoneditor-menu > button:disabled {
  background-color: #ebebeb;
  border-color: #d3d3d3;
}
:host ::ng-deep json-editor .jsoneditor-menu > .jsoneditor-modes > button,
:host ::ng-deep json-editor .jsoneditor-menu > button {
  background-color: #3883fa;
}
:host ::ng-deep json-editor .jsoneditor-results {
  color: #000;
}
:host ::ng-deep json-editor .jsoneditor-menu a {
  color: #999;
}
::ng-deep .ant-select-selection > div {
  overflow: hidden;
}
.ant-dropdown-button.ant-btn-group > .ant-btn:last-child:not(:first-child) {
  padding-right: 5px;
  padding-left: 5px;
}
.ant-btn.no-transition {
  transition: none;
  -webkit-transition: none;
}
.valign-middle {
  vertical-align: middle;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
