<nz-layout class="left-layout">
  <nz-header>
      <img
        width="40"
        alt="Firestore Manager Logo"
        src="assets/images/firestore_logo.png"
      />
      <span>Firestore Manager</span>
      <div class="spacer"></div>
      <a
        class="toolbar-icon"
        nz-tooltip
        nzTooltipTitle="Report a bug"
        nzTooltipPlacement="left"
        href="https://github.com/AXeL-dev/firestore-manager/issues"
        target="_blank"
      >
        <i nz-icon nzType="bug" nzTheme="outline"></i>
      </a>
      <span
        *ngIf="!browser"
        class="toolbar-icon"
        nz-tooltip
        nzTooltipTitle="Settings"
        nzTooltipPlacement="left"
        (click)="isSettingsDrawerVisible = true"
      >
        <i nz-icon nzType="setting" nzTheme="outline"></i>
      </span>
      <span
        *ngIf="!browser"
        class="toolbar-icon"
        nz-tooltip
        nzTooltipTitle="Go back to main page"
        nzTooltipPlacement="left"
        (click)="onGoBackIconClick()"
      >
        <i nz-icon nzType="logout" nzTheme="outline"></i>
      </span>
  </nz-header>
  <nz-layout>
    <nz-sider nzTheme="light" nzWidth="300px">
      <nz-spin nzTip="Reloading..." [nzSpinning]="isReloadingCollections">
        <div *ngIf="!enableCollectionDeleteMode" [ngStyle]="{ 'margin-bottom': '10px' }">
          <nz-alert
            *ngIf="unsavedChanges"
            nzBanner
            [nzMessage]="unsavedChangesTpl"
            [ngStyle]="{ 'margin': '-20px -20px 10px' }"
          >
            <ng-template #unsavedChangesTpl>
              <div nz-row nzGutter="8">
                <div nz-col nzSpan="16">
                  <span>You have some unsaved changes! <i nz-icon nz-tooltip nzTooltipPlacement="bottom" nzTitle="Click on 'View' to see all the modifications." nzType="question-circle" nzTheme="outline"></i></span>
                </div>
                <div nz-col nzSpan="8">
                  <button nz-button nzType="primary" (click)="onViewUnsavedChangesClick()" [ngStyle]="{ float: 'right' }">View</button>
                </div>
              </div>
            </ng-template>
          </nz-alert>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="21">
                <nz-select
                  #collectionSearch
                  nzShowSearch
                  nzAllowClear
                  [nzLoading]="isSearchCollectionLoading"
                  nzPlaceHolder="Collection"
                  [nzSuffixIcon]="searchIcon"
                  nzNotFoundContent="No collection found"
                  [(ngModel)]="searchValue"
                  (nzOnSearch)="searchCollection($event)"
                  [ngStyle]="{ width: '100%' }"
                >
                  <nz-option *ngFor="let c of collectionList" [nzLabel]="c" [nzValue]="c"> </nz-option>
                </nz-select>
                <ng-template #searchIcon>
                  <i nz-icon nzType="search"></i>
                </ng-template>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="default" [ngStyle]="{ padding: '4px' }" nz-dropdown nzTrigger="click" [nzDropdownMenu]="collectionMenu">
                <i nz-icon nzType="more" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #collectionMenu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="isDrawerVisible = true">Add Collection</li>
                  <li nz-menu-item (click)="onDeleteCollectionClick()">Delete</li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item (click)="onReloadCollectionClick()">Reload</li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <nz-alert
            *ngIf="!collectionNodes.length"
            nzBanner
            nzType="info"
            nzMessage="Welcome!"
            nzDescription="Start by typing a collection name in the search box above."
            [ngStyle]="{ 'margin-top': '10px' }"
            nzCloseable
          ></nz-alert>
        </div>
        <div *ngIf="enableCollectionDeleteMode" [ngStyle]="{ 'margin-bottom': '10px' }">
          <div nz-row nzGutter="8" [ngStyle]="{ 'margin-bottom': '10px' }">
            <div nz-col nzSpan="4">
              <button
                nz-button
                nzType="dashed"
                nzBlock
                nz-tooltip
                nzTooltipTitle="Select All"
                nzTooltipPlacement="bottom"
                [disabled]="!collectionNodes.length"
                (click)="onSelectAllClick()"><i nz-icon nzType="check-square" nzTheme="outline"></i></button>
            </div>
            <div nz-col nzSpan="10">
              <button nz-button nzType="default" nzBlock (click)="enableCollectionDeleteMode = false">Cancel</button>
            </div>
            <div nz-col nzSpan="10">
              <button nz-button
                nzType="danger"
                nzBlock
                nz-popconfirm
                [nzPopconfirmTitle]="confirmDeleteTpl"
                nzPopconfirmPlacement="bottom"
                [disabled]="!collectionNodesCheckedKeys.length"
                (nzOnConfirm)="onCollectionDeleteConfirm()">Delete</button>
              <ng-template #confirmDeleteTpl>
                <span><i nz-icon nzType="exclamation-circle" nzTheme="fill" style="color: #faad14; margin-right: 5px;"></i><strong>Confirm delete?</strong></span>
                <div [ngStyle]="{ 'margin-top': '10px' }">
                  <label nz-checkbox [(ngModel)]="permanentlyDeleteDocuments">Permanently delete documents?</label>
                </div>
              </ng-template>
            </div>
          </div>
          <nz-alert nzBanner [nzMessage]="deleteWarningTpl" nzCloseable>
            <ng-template #deleteWarningTpl>
              Only documents can be permanently deleted, collections will be removed only from the browser cache! If you want to permanently delete a collection please use the <a [href]="databaseUrl" target="_blank">Firebase Console</a>.
            </ng-template>
          </nz-alert>
        </div>
        <nz-tree
          [nzData]="collectionNodes"
          nzAsyncData
          nzShowLine
          [nzSearchValue]="searchValue"
          [nzCheckable]="enableCollectionDeleteMode"
          [nzCheckedKeys]="collectionNodesCheckedKeys"
          [nzSelectedKeys]="collectionNodesSelectedKeys"
          [nzExpandedKeys]="collectionNodesExpandedKeys"
          [nzExpandedIcon]="expandedIconTpl"
          (nzClick)="onCollectionNodeClick($event)"
          (nzCheckBoxChange)="onCollectionNodeCheck($event)"
          (nzExpandChange)="onCollectionNodeExpand($event)"
        >
          <ng-template #expandedIconTpl let-node>
            <i *ngIf="!node.origin.isLeaf" nz-icon [nzType]="node.isLoading ? 'loading' : node.isExpanded ? 'folder-open' : 'folder'" class="ant-tree-switcher-line-icon"></i>
            <i *ngIf="node.origin.isLeaf" nz-icon nzType="file" class="ant-tree-switcher-line-icon"></i>
          </ng-template>
        </nz-tree>
      </nz-spin>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-content>
        <div class="inner-content">
          <json-editor [options]="editorOptions" (change)="onEditorDataChange($event)"></json-editor>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
<nz-drawer
  [nzClosable]="false"
  [nzOffsetX]="0"
  [nzWidth]="480"
  [nzVisible]="isDrawerVisible"
  nzTitle="New Collection"
  (nzOnClose)="isDrawerVisible = false"
>
  <form nz-form [formGroup]="addCollectionForm" (ngSubmit)="submitCollectionForm()">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired>Name</nz-form-label>
          <nz-form-control nzErrorTip="{{ addCollectionForm.controls.name.errors && addCollectionForm.controls.name.errors.notUnique ? 'A collection with the same name already exists!' : 'please enter collection name' }}">
            <input nz-input formControlName="name" placeholder="my collection" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired><span>Content <i nz-icon nz-tooltip nzTooltipPlacement="bottom" nzTitle="Content of the first document in json" nzType="question-circle" nzTheme="outline"></i></span></nz-form-label>
          <button nz-button nzType="default" nzShape="circle" nzSize="small" (click)="onRandomContentClick($event)" nz-tooltip nzTooltipTitle="Random" nzTooltipPlacement="left" [ngStyle]="{ float: 'right', bottom: '-5px' }">
            <i nz-icon nzType="sync" nzTheme="outline"></i>
          </button>
          <nz-form-control nzErrorTip="please enter a valid json content">
            <textarea nz-input class="tab-size" formControlName="content" spellcheck="false" [placeholder]="collectionContentExample" [nzAutosize]="{ minRows: 14, maxRows: 24 }"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="drawer-footer">
      <button nz-button nzType="default" (click)="isDrawerVisible = false" [ngStyle]="{ 'margin-right': '8px' }"><span>Cancel</span></button>
      <button nz-button nzType="primary" [nzLoading]="isAddCollectionButtonLoading" (click)="onAddCollectionClick()"><span>Add</span></button>
    </div>
  </form>
</nz-drawer>
<nz-modal
  *ngIf="isSaveModalVisible"
  [(nzVisible)]="isSaveModalVisible"
  nzTitle="Unsaved Changes"
  nzOkText="Save"
  nzWidth="60%"
  (nzOnCancel)="isSaveModalVisible = false"
  (nzOnOk)="onSaveChangesClick()"
  [nzOkLoading]="isSaveButtonLoading"
  [nzOkDisabled]="isSaveButtonDisabled"
>
  <fm-cache-diff
    [diffStyle]="options.diffStyle"
    [outputFormat]="options.diffOutputFormat"
    [enableSaveButton]="isSaveButtonDisabled"
    (enableSaveButtonChange)="onSaveButtonStatusChange($event)"
  ></fm-cache-diff>
  <nz-alert
    *ngIf="!isSaveButtonDisabled"
    nzBanner
    nzMessage="Once saved, the above changes will override your existing firestore data. This operation is not reversible!"
    nzCloseable
    [ngStyle]="{ 'margin-top': '20px' }"
  ></nz-alert>
</nz-modal>
<nz-drawer
  *ngIf="!browser"
  [nzClosable]="false"
  [nzOffsetX]="0"
  [nzWidth]="480"
  [nzVisible]="isSettingsDrawerVisible"
  nzTitle="Settings"
  (nzOnClose)="onSettingsDrawerClose()"
>
  <iframe src="/options" width="100%" frameBorder="0" [ngStyle]="{ 'min-height': '200px' }"></iframe>
</nz-drawer>
