<nz-layout class="left-layout">
  <nz-header>
      <img
        width="40"
        alt="Firestore Manager Logo"
        src="assets/images/firestore_logo.png"
      />
      <span>Firestore Manager</span>
  </nz-header>
  <nz-layout>
    <nz-sider nzTheme="light" nzWidth="300px">
      <div *ngIf="!collectionTreeIsCheckable" nz-row nzGutter="8" [ngStyle]="{ 'margin-bottom': '10px' }">
        <div nz-col nzSpan="21">
            <nz-select
              nzShowSearch
              nzServerSearch
              nzAllowClear
              nzPlaceHolder="Collection"
              [nzSuffixIcon]="searchIcon"
              nzNotFoundContent="No collection found"
              [(ngModel)]="searchValue"
              (nzOnSearch)="searchCollection($event)"
              [ngStyle]="{ width: '100%' }"
            >
              <nz-option *ngFor="let c of collectionList" [nzLabel]="c" [nzValue]="c"> </nz-option>
              <nz-option *ngIf="displayTips" nzDisabled nzCustomContent>
                Type at least 2 letters to Search
              </nz-option>
            </nz-select>
            <ng-template #searchIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
        <div nz-col nzSpan="3">
          <button nz-button nzType="default" [ngStyle]="{ padding: '4px' }" nz-dropdown nzTrigger="click" [nzDropdownMenu]="collectionMenu">
            <i nz-icon nzType="more" nzTheme="outline"></i>
          </button>
          <nz-dropdown-menu #collectionMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="isDrawerVisible = true">Add Collection</li>
              <!-- <li nz-menu-divider></li> -->
              <li nz-menu-item (click)="onDeleteCollectionClick()">Delete</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
      <div *ngIf="collectionTreeIsCheckable" [ngStyle]="{ 'margin-bottom': '10px' }">
        <div nz-row nzGutter="8" [ngStyle]="{ 'margin-bottom': '10px' }">
          <div nz-col nzSpan="12">
            <button nz-button nzType="default" nzBlock (click)="collectionTreeIsCheckable = false">Cancel</button>
          </div>
          <div nz-col nzSpan="12">
            <button nz-button
              nzType="danger"
              nzBlock
              nz-popconfirm
              nzPopconfirmTitle="Confirm delete?"
              nzPopconfirmPlacement="bottom"
              [disabled]="!collectionNodesCheckedKeys.length"
              (nzOnConfirm)="onCollectionDeleteConfirm()">Delete</button>
          </div>
        </div>
        <nz-alert nzBanner [nzMessage]="deleteWarningTpl" nzCloseable>
          <ng-template #deleteWarningTpl>
            <span>Changes will be applied only to the browser cache! If you want to permanently delete a collection please use the <a [href]="databaseUrl" target="_blank">Firebase Console</a>.</span>
          </ng-template>
        </nz-alert>
      </div>
      <nz-tree
        [nzData]="collectionNodes"
        nzAsyncData
        nzShowLine
        [nzSearchValue]="searchValue"
        [nzCheckable]="collectionTreeIsCheckable"
        [nzCheckedKeys]="collectionNodesCheckedKeys"
        [nzSelectedKeys]="collectionNodesSelectedKeys"
        [nzExpandedKeys]="collectionNodesExpandedKeys"
        [nzExpandedIcon]="expandedIconTpl"
        (nzClick)="onCollectionNodeClick($event)"
        (nzExpandChange)="onCollectionNodeExpand($event)"
      >
        <ng-template #expandedIconTpl let-node>
          <i *ngIf="!node.origin.isLeaf" nz-icon [nzType]="node.isLoading ? 'loading' : node.isExpanded ? 'folder-open' : 'folder'" class="ant-tree-switcher-line-icon"></i>
          <i *ngIf="node.origin.isLeaf" nz-icon nzType="file" class="ant-tree-switcher-line-icon"></i>
        </ng-template>
      </nz-tree>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-content>
        <div class="inner-content">
          <json-editor [options]="editorOptions" (change)="onEditorDataChange($event)"></json-editor>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
<nz-drawer
  [nzClosable]="false"
  [nzOffsetX]="0"
  [nzWidth]="320"
  [nzVisible]="isDrawerVisible"
  nzTitle="New Collection"
  (nzOnClose)="isDrawerVisible = false"
>
  <form nz-form [formGroup]="addCollectionForm" (ngSubmit)="submitCollectionForm()">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired>Name</nz-form-label>
          <nz-form-control nzErrorTip="{{ addCollectionForm.controls.name.errors && addCollectionForm.controls.name.errors.notUnique ? 'A collection with the same name already exists!' : 'please enter collection name' }}">
            <input nz-input formControlName="name" placeholder="my collection" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired><span>Content <i nz-icon nz-tooltip nzTooltipPlacement="bottom" nzTitle="Content of the first document in json" nzType="question-circle" nzTheme="outline"></i></span></nz-form-label>
          <button nz-button nzType="default" nzShape="circle" nzSize="small" (click)="onRandomContentClick($event)" nz-tooltip nzTooltipTitle="Random" nzTooltipPlacement="left" [ngStyle]="{ float: 'right', bottom: '-5px' }">
            <i nz-icon nzType="sync" nzTheme="outline"></i>
          </button>
          <nz-form-control nzErrorTip="please enter a valid json content">
            <textarea nz-input class="tab-size" formControlName="content" spellcheck="false" [placeholder]="collectionContentExample" [nzAutosize]="{ minRows: 14, maxRows: 24 }"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="drawer-footer">
      <button nz-button nzType="default" (click)="isDrawerVisible = false" [ngStyle]="{ 'margin-right': '8px' }"><span>Cancel</span></button>
      <button nz-button nzType="primary" [nzLoading]="isAddCollectionButtonLoading" (click)="onAddCollectionClick()"><span>Add</span></button>
    </div>
  </form>
</nz-drawer>
